/node_modules
/__pycache__
/.venv

# Ignore all .md files except README.md
*.md
!README.md

# Ignore uploads and test files
backend/uploads/
backend/uploads/resumes/
backend/AdletDautbekCV.pdf

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
